html,body,main,header,footer{padding:0;margin:0}

header{
	position:absolute;
	right:24px;
	top:10px;
	display:flex;
	z-index:100000;
	align-items:center;
}
#logo > img{width:40px;}
#logo > h1{font-size:26px;color:var(--negro);  font-family: 'Montserrat', "DejaVu Sans", Verdana, 'sans‑serif';}

main{
	height:100%;
	width: 100%;
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: left;
	z-index:0;
}
#mapid{
	width:100%;
	height:100%;
}
#sidebar{
		display:flex;
		flex-direction: column;
		align-items: center;
		text-align:center;
  		overflow: scroll;
  		overflow-x: hidden;
 	max-width:500px;
	width:100%;
	border-radius:5px;
	margin:0;
	padding:10px;
	padding-top:80px;
		background-color:white;
		z-index:100000;
}

#sidebar>div{
	padding-bottom:20px;
	align-items:center;
	/*justify-content: center;*/
}


























.leaflet-marker-icon{
	opacity:0.8!important;
}
.leaflet-marker-icon:hover{
	opacity:1!important;
}

/*
.marker-cluster     {background-color:var(--celeste-saturado); opacity:0.6;}
.marker-cluster div {background-color:var(--celeste-saturado); opacity:0.8;}

.marker-cluster div:hover{opacity:1;}

.marker-cluster-small {}
.marker-cluster-small div {}
.marker-cluster-medium {}
.marker-cluster-medium div {}
.marker-cluster-large {}
.marker-cluster-large div {}
*/
.marker-low {
background-color: rgba(218, 94, 94, 0.6);
}
.marker-low div {
background-color: rgba(226, 36, 36, 0.6);
}
.marker-medium {
background-color: rgba(241, 211, 87, 0.6);
}
.marker-medium div {
background-color: rgba(240, 194, 12, 0.6);
}
.marker-high {
background-color: rgba(253, 156, 115, 0.6);
}
.marker-highe div {
background-color: rgba(241, 128, 23, 0.6);
}
*/


.container {
  width: 100%;
  display: flex-inline;
  align-items: center;
}

.myProgress {
	height:6px;
  	width: 300px;
  	background-color: var(--gris-claro);
  	border-radius:5px;
	margin-bottom:30px;
}
.myBar {
	height:6px;
  	width: 10%;
  	background-color: var(--rosa);
  	border-radius:1px;
}

.myBar::after,.myBar::before{
	color:var(--gris-oscuro);
	text-align:left;
	font-weight:bold;
}
.myBar::after{
  content: attr(name);
  position:relative;
  left:0%;
  bottom:12px;
}

.myBar::before {
  content: attr(value);
  position:relative;
  left:100%;
  bottom:20px;
}

.myProgress::before {
  content:' ['attr(unit)']';
  position:fixed;
  right:0;
}




#meteorology{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items: center;
	margin-right:20%;
	margin-left:20%;
} 

#meteorology>span{
	padding:5px;
} 




/*Air QUALITY INDEX VALUE*/
.good, #AQI.good{                  color:#55a84f;} /*#00b050;*/
.satisfactory, #AQI.satisfactory{  color:#a3c853;} /*ffff00; */
.moderate, #AQI.moderate{          color:#fff833;} /*#ff6600;*/
.poor, #AQI.poor{                  color:#f29c33;} /*#ff0000;*/
.veryPoor, #AQI.veryPoor{          color:#e93f33;} /*#7030a0;*/
.severe, #AQI.severe{              color:#af2d24;} /*#990033;*/


/* AQI RADIAL PROGRESS BAR*/
.progress {
  width: 180px;
  height: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress > .inner {
  position: absolute;
}

.progress > svg {
  height: 100%;
  display: block;
}

.inner{
  display:flex;
  flex-direction:column;

}
.inner >h1{
	font-size:1em;
	padding-bottom:0px;
	margin-bottom:0px;
}
.inner >h2{
	font-size:3.2em;
	line-height:1em;
}
.inner >h3{
	font-size:1.15em;
  	text-transform: uppercase;
}




/*LINEAR PROGRESS BARS*/

.container-bar {
  margin: 20px;
  width: 300px;
  height: 8px;
  position: relative;
margin-bottom:25px;
}



/* PLOT TIME SERIES */
.plot-container{
	align-items:center;

}



/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
  #plot-container, .container-bar{margin:0px;}
}






/*STYLE DE MARCADOR DE PUNTO CON NUMERO*/
.number-icon{
    text-align:center;
      display: flex; /* or inline-flex */
  	align-items: center;
  	justify-content: center;
}

.number-icon > span{
	font-weight:bold;
	color:white;
}

.number-icon.goodIcon {background-image: url("../markers/round/round-good.svg");}
.number-icon.satiIcon {background-image: url("../markers/round/round-satisfactory.svg");}
.number-icon.modeIcon {background-image: url("../markers/round/round-moderate.svg");}
.number-icon.poorIcon {background-image: url("../markers/round/round-poor.svg");}
.number-icon.vpoorIcon {background-image: url("../markers/round/round-vpoor.svg");}
.number-icon.severeIcon {background-image: url("../markers/round/round-severe.svg");}
